{% extends 'base.html' %}

{% block content %}
<div class="p-6 max-w-2xl mx-auto">
  <h1 class="text-2xl font-bold mb-6">Detalle de Reserva</h1>

  <div class="bg-white shadow rounded-2xl p-6 space-y-4 text-gray-700">
    <p><strong>Residente:</strong> {{ reservation.resident_name }}</p>
    <p><strong>Área:</strong> {{ reservation.get_area_display }}</p>
    <p><strong>Fecha:</strong> {{ reservation.reservation_date }}</p>
    <p><strong>Horario:</strong> {{ reservation.start_time }} - {{ reservation.end_time }}</p>
    <p><strong>Estado:</strong> {{ reservation.get_status_display }}</p>
  </div>

  <div class="mt-6 flex gap-2">
    <a href="{% url 'reservation_list' %}" 
       class="px-4 py-2  bg-white text-gray-700 rounded-lg">Volver</a>

    <a href="{% url 'reservation_delete' reservation.id %}" 
       class="px-4 py-2 bg-red-600 text-white rounded-lg">Eliminar</a>
  </div>
</div>
{% endblock %}